/*TerminalWindow*/ notebook tab {
  /*background-color: #FCBC8D;*/
    /*color: #00ffFF;*/
  background-color: #FCBC8D;
    /*padding: 10px;*/
}
/*
notebook tab:active{
  background-color: #FCBC8D;
}

notebook tab {
  min-height: 0;
  padding: 10px;
}

notebook tab button {
  min-height: 0;
  min-width: 0;
  padding: 1px;
  margin: 1px;
  background-color: #FCBC8D;
}

notebook tab:active button {
  min-height: 0;
  min-width: 0;
  color: #00ff00;
  padding: 1px;
  margin: 1px;
  background-color: #FF008D;
}

notebook tab label {
notebook tab label {
  color: #00ff00;
}

notebook tab:selected label {
  color: #00ffFF;
  background-color: #FF008D;
}
*/
